@{
    ViewData["Title"] = "Location";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Unser Ort ist in Zürich bei Limmatplatz</p>

<script>
    $(document).ready(function(){
        console.log("Unser Ort ist in Zürich");
    });
</script>