@{
    ViewData["Title"] = "Test";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Testbereich</p>

<script>
    $(document).ready(function(){
        console.log("hallo von test");
    });
</script>